<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="/webjars/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>COW Question</title>
</head>
<body>
<div>
    <h1>Countries of The World Quiz!</h1>
    <h3>What is the capital city of ${country}?</h3>
    <form th:action="@{/capitals/1}" method="post" th:object="${gameLogic}">
        <input type="radio" name="city" value="A"> <br>
        <input type="radio" name="city" value="B"> <br>
        <input type="radio" name="city" value="C"> <br>
        <input type="radio" name="city" value="D">
        </select>
        <button type="submit">GO</button>
    </form>
</div>
</body>
</html>
