<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="/webjars/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>COW Question</title>
</head>
<body class="container-fluid jumbotron bg-info">
<div class="text-center">
    <h1 class="text-white">Countries of The World Quiz!</h1>
    <h3 th:text="|What is the capital city of *{countryList.get(1).getName()}?|"></h3>
    <form th:action="@{/capitals/1}" method="post" >
        <label th:each="country : ${countryList}"> </br>
            <input type="radio" name="city" value="A"  th:text="*{country.getCapital()}"/>
        </label>
        <br>
        <button type="submit">GO</button>
    </form>
</div>
</body>
</html>
