<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="/webjars/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Countries Of The World</title>
</head>
<body class="container-fluid jumbotron bg-info">
<h1>Sorry, you reached the end of the world.</h1>
<h3>Ready for another trip?</h3>
<form th:action="@{/}" method="get">
    <button type="submit">PLAY AGAIN</button>
</form>
</body>
</html>