<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="/webjars/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Countries Of The World</title>
</head>
<body class="container-fluid jumbotron bg-info">
<div>
    <h1>Welcome to the Countries of The World Quiz!</h1>
    <h3>How are you feeling today?</h3>
    <form th:action="@{/capitals/1}" method="post" th:object="${gameLogic}">
        <select th:field="*{totalQuestions}">
            <option th:value="5">Take it easy... 5 Questions</option>
            <option th:value="10">I'm feeling confident... 10 Questions</option>
            <option th:value="15">I'm on fire... 15 Questions</option>
        </select>
        <button type="submit">LET'S PLAY</button>
    </form>
</div>
</body>
</html>
